.p1{
  background-color: #FF9E9E;
  border-radius: 5px;
  color: black;
  padding: 20px;
  width: 700px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #FF9E9E;
  
  
}
.p1:hover {
  background-color: #FFE49E;
  cursor: pointer;
  color: red;
  box-shadow: 2px 2px 2px #FFE49E;
}
.p1:active{
  border-radius: 0%;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}
.about-me{
    background-color: #FF9E9E;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 6px 6px 6px #b36d6d;
  }
.qualification
  { background-color: #ececec;
    border-radius: 20px;
    color: black;
    padding: 20px;
    width: 700px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #b4b4b4;
  }
.experience{
    background-color: #ececec;
    border-radius: 20px;
    color: black;
    padding: 20px;
    width: 700px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #b4b4b4;
}
.current-skills{background-color: #ececec;
    border-radius: 20px;
    color: black;
    padding: 20px;
    width: 700px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #b4b4b4;
    }
.fav-links{background-color: #ececec;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
    width: 700px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px #b4b4b4;
    }